.color1 {
    background-color: #265a88;
}
.color2 {
    background-color: #67b168;
}
.color3 {
    background-color: #c12e2a;
}
.color4 {
    background-color: #9acfea;
}
.colum-height {
    display: flex; 
}