table, th, td {
    border: 1px solid black;
}
table {
    border-collapse: collapse;
    text-align: left;
    float:left;
    margin-right: 10%;
}
div{
    border:2px solid grey;
    padding-left: 5%;
    width: 50%;
    margin-bottom: 2%;
}